button {
    background-color: var(--wine);
    display: flex;
    font-family: "Inter", sans-serif;
    font-size: 15pt;
    padding: 15px 40px;
    border: 0;
    color: var(--white);
    gap: 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: all var(--transition-time);
    width: max-content;
}

button svg {
    fill: var(--white);
    width: 20px;
}

button:hover {
    background-color: var(--hover-button-color);
    scale: 1.05;
}

@media screen and (max-width: 1000px) {
    button {
        font-size: 12pt;
        padding: 10px 30px;
    }
}