.fale-conosco {
    background-image: url(https://rare-gallery.com/uploads/posts/2001766-usa-new-york-city-nyc-america-ny-manhattan-bridge-lower-manhattan-suspension-bridge-bridge-us.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.fale-conosco::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.fale-conosco-content {
    width: var(--x-margin);
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    z-index: 2;
}

.fale-conosco-container {
    display: flex;
    flex-direction: column;
}

.fale-conosco-container h1 {
    font-size: 35pt;
    margin: 0;
    padding: 0;
}

.social ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}

.social li {
    display: flex;
    list-style: none;
    gap: 50px;
}

.social svg {
    fill: var(--wine);
    width: 20px;
}

.social a {
    color: var(--white);
    text-decoration: none;
    justify-content: center;
    display: flex;
    gap: 10px;
    transition: all var(--transition-time);
}

.social a:hover {
    color: var(--hover-button-color);
}

.fale-conosco-items {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: start;
}

.fale-conosco-items span {
    max-inline-size: 250px;
}

@media screen and (max-width: 1000px) {
    .fale-conosco-content {
        justify-content: center;
        align-items: center;
    }

    .fale-conosco-container {
        align-items: center;
        text-align: center;
    }
}