:root {
    --white: #fff;
    --wine: #961919;
    --hover-button-color: #751414;
    --black: #222;
    --gray: #383838;

    --x-margin: 1500px;

    --transition-time: 0.25s
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    line-height: 1.2;
}

body,
p,
a,
button,
li {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}