.mobile-navbar {
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    translate: 100vw 0;
    transition: all var(--transition-time);
}

.mobile-links {
    display: flex;
    height: calc(100vh - 100px);
    width: 70%;
}

.mobile-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    gap: 5px;
    padding: 0;
}

.mobile-links li {
    list-style: none;
    position: relative;
}

.mobile-links a {
    text-decoration: underline #c6c6c6;
    color: var(--black);
    display: inline;
    transition: all var(--transition-time);
}

.mobile-links a:hover {
    color: var(--wine)
}

.mobile-navbar.active {
    translate: 0;
}